<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'DM/styles.css' %}" />
    <title>DM Adventures Web</title>
</head>
<body>
    <h1>Welcome to DM Adventures Web!</h1>
    <a href="/dma/register/">Register</a>
    <a href="/dma/login/">Log in</a>
    <a href="/dma/main/">Start</a>
    {% for str in change_log %}
    <div>
        <p>{{ str.version }}</p>
        <p>{{ str.date }}</p>
        <p>{{ str.text }}</p>
    </div>
    {% endfor %}
</body>
</html>